estabelecimento/EstWSTeste/xml-resources/web-service-references/EstWS/wsdl/localhost_8080/EstWS/EstWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ine5646/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ine5646/" name="EstWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ine5646/" schemaLocation="http://localhost:8080/EstWS/EstWS?xsd=1"/>
</xsd:schema>
</types>
<message name="setar_nota">
<part name="parameters" element="tns:setar_nota"/>
</message>
<message name="setar_notaResponse">
<part name="parameters" element="tns:setar_notaResponse"/>
</message>
<message name="listar_locais">
<part name="parameters" element="tns:listar_locais"/>
</message>
<message name="listar_locaisResponse">
<part name="parameters" element="tns:listar_locaisResponse"/>
</message>
<message name="detalhes_local">
<part name="parameters" element="tns:detalhes_local"/>
</message>
<message name="detalhes_localResponse">
<part name="parameters" element="tns:detalhes_localResponse"/>
</message>
<message name="verifica_login">
<part name="parameters" element="tns:verifica_login"/>
</message>
<message name="verifica_loginResponse">
<part name="parameters" element="tns:verifica_loginResponse"/>
</message>
<message name="procurar_locais">
<part name="parameters" element="tns:procurar_locais"/>
</message>
<message name="procurar_locaisResponse">
<part name="parameters" element="tns:procurar_locaisResponse"/>
</message>
<message name="setar_comentario">
<part name="parameters" element="tns:setar_comentario"/>
</message>
<message name="setar_comentarioResponse">
<part name="parameters" element="tns:setar_comentarioResponse"/>
</message>
<portType name="EstWS">
<operation name="setar_nota">
<input wsam:Action="http://ine5646/EstWS/setar_notaRequest" message="tns:setar_nota"/>
<output wsam:Action="http://ine5646/EstWS/setar_notaResponse" message="tns:setar_notaResponse"/>
</operation>
<operation name="listar_locais">
<input wsam:Action="http://ine5646/EstWS/listar_locaisRequest" message="tns:listar_locais"/>
<output wsam:Action="http://ine5646/EstWS/listar_locaisResponse" message="tns:listar_locaisResponse"/>
</operation>
<operation name="detalhes_local">
<input wsam:Action="http://ine5646/EstWS/detalhes_localRequest" message="tns:detalhes_local"/>
<output wsam:Action="http://ine5646/EstWS/detalhes_localResponse" message="tns:detalhes_localResponse"/>
</operation>
<operation name="verifica_login">
<input wsam:Action="http://ine5646/EstWS/verifica_loginRequest" message="tns:verifica_login"/>
<output wsam:Action="http://ine5646/EstWS/verifica_loginResponse" message="tns:verifica_loginResponse"/>
</operation>
<operation name="procurar_locais">
<input wsam:Action="http://ine5646/EstWS/procurar_locaisRequest" message="tns:procurar_locais"/>
<output wsam:Action="http://ine5646/EstWS/procurar_locaisResponse" message="tns:procurar_locaisResponse"/>
</operation>
<operation name="setar_comentario">
<input wsam:Action="http://ine5646/EstWS/setar_comentarioRequest" message="tns:setar_comentario"/>
<output wsam:Action="http://ine5646/EstWS/setar_comentarioResponse" message="tns:setar_comentarioResponse"/>
</operation>
</portType>
<binding name="EstWSPortBinding" type="tns:EstWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setar_nota">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listar_locais">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="detalhes_local">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verifica_login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="procurar_locais">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setar_comentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EstWS">
<port name="EstWSPort" binding="tns:EstWSPortBinding">
<soap:address location="http://localhost:8080/EstWS/EstWS"/>
</port>
</service>
</definitions>